/* Custome css for template */

/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

/* Change font-family */
body {
    font-family: 'Comic Neue', cursive;
}

/* Make logo on navbar in the middle */
.navbar-brand {
  position:absolute;
  left:calc(50% - 30px);
  top:8px;
}

/* Login form */
.form-signin {
	width: 100%;
	max-width: 430px;
	padding: 15px;
	margin: auto;
}

/* Responsive */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}